#Ephemeral {
  color: yellow;
}

* {
  font-family: cursive;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

#Euphoria {
  text-transform: uppercase;
}

.Ethereal {
background-color: lightgreen;
}

li[class="cerulean"] {
border-width: 2px;
border-style: solid;
border-color: purple;
}

img + ul {
  list-style-type: none;
}

section img {
  height: 95px;
  width: 95px;
  border-radius: 355px;
}

h4 ~ p {
  text-align: center;
}

body > section > ul > li {
  letter-spacing: 15px;
}